.git
.githooks
.github
.dockerignore
.DS_Store

# Application
docker
docs
shared
.venv

# webapp
!packages/webapp
packages/webapp/node_modules
packages/webapp/npm-debug.log
packages/webapp/build
packages/webapp/build.bak
